.gallery-image-container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin-left: 25px;
    padding: 0;
}

.trans {
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.gallery-image-container-top {
    display: flex;
    width: 80vw;
    height: 80vh;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 160vh;
}

.gallery-image-container-top ul {
    list-style: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
}

.gallery-image-container-top ul li {
    position: relative;
    float: left;
    width: 25%;
    height: 25%;
    overflow: hidden;
}

.gallery-image-container-top ul li::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    content: '';
    color: white;
    opacity: 0.4;
    text-align: center;
    box-sizing: border-box;
    pointer-events: none;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.gallery-image-container-top ul li:hover::before {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.90);
}

.gallery-image-container-top ul li img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
    position: relative;
    top: -100%;
    /* Transition */
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.lightbox:target {
    outline: none;
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -ms-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    -webkit-transition: all 1.2s ease;
}

.lightbox:target img {
    top: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.gallery-image-container-top ul li {
    width: 250px;
    height: 150px;
    margin: 1%;

}

.gallery-image-container-top ul li img {
    width: 250px;
    height: 150px;

}

.gallery-image-container-top a {
    margin-top: 3%;
}


/* @media (max-width: 1028px) {
    .gallery-image-container {
        margin-left: 11px;
    }

    .gallery-image-container-top {
        margin-bottom: 3700px;
        margin-top: 82px;
    }
} */

@media (max-width : 768px) {
    .gallery-image-container {
        margin-left: 11px;
    }

    .gallery-image-container-top {
        margin-bottom: 3700px;
        margin-top: 82px;
       
    }
    
}


.items-container_magnific {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .items_magnific {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;

  }

  .items_magnific img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  /* waivy text style */
  .waviy {
    position: relative;
  }

  .waviy span {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-family: monospace;
    color: #8e516f;
    background-color: #fff;
    /* text-transform: uppercase; */
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }

  @keyframes flip {

    0%,
    80% {
      transform: rotateY(360deg)
    }
  }

  /* end waivy text style  */